# Real estate Analysis

In [36]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
import numpy as np

In [10]:
dataset = pd.read_excel('/home/bk/Desktop/mlai/Notes/Day 21/dataset/Linear Regression.xlsx')
dataset.head()

    price  sqft_living  bedrooms  bathrooms  floors
0  221900         1180         3       1.00     1.0
1  538000         2570         3       2.25     2.0
2  180000          770         2       1.00     1.0
3  604000         1960         4       3.00     1.0
4  510000         1680         3       2.00     1.0

In [11]:
dataset.columns

Index(['price', 'sqft_living', 'bedrooms', 'bathrooms', 'floors'], dtype='object')

In [18]:
dataset.drop_duplicates(inplace=True)
dataset.dropna(inplace=True)

In [19]:
cols = dataset.drop(['price'],axis=1).columns.tolist()
cols

['sqft_living', 'bedrooms', 'bathrooms', 'floors']

In [25]:
dependent = pd.DataFrame(dataset['price'])
dependent

0        221900
1        538000
2        180000
3        604000
4        510000
          ...
21608    360000
21609    400000
21610    402101
21611    400000
21612    325000
Name: price, Length: 21347, dtype: int64

In [43]:
for col in cols:
    independent = pd.DataFrame(dataset[col])
    independent_train,independent_test,dependent_train,dependent_test = train_test_split(independent ,dependent, test_size = 0.2, random_state = 2)
    lin_reg = LinearRegression()
    lin_reg.fit(independent_train, dependent_train)
    print('=====================================\n')
    print('=====================================\n')
    print('Price vs ' + col+'\n')
    print('Coeficient is '+str(lin_reg.coef_[0]))
    dependent_pred = lin_reg.predict(independent_test)
    RMSE = np.sqrt(mean_squared_error(dependent_test, dependent_pred))
    r_square = r2_score(dependent_test, dependent_pred)

    print('The R^2 value is:', r_square)
    print('The RMSE value is:', RMSE)
    print('We can infer that price increases by ' +str(lin_reg.coef_[0])+' per unit increase in '+ col)
    print('=====================================\n')
    print('=====================================\n')

=====================================

=====================================

Price vs sqft_living

Coeficient is 276.880432907756
The R^2 value is: 0.5029310605813945
The RMSE value is: 272082.4248082161
We can infer that price increases by 276.880432907756 per unit increase in sqft_living
=====================================

=====================================

=====================================

=====================================

Price vs bedrooms

Coeficient is 126220.596662401
The R^2 value is: 0.07170267631840799
The RMSE value is: 371822.5504955901
We can infer that price increases by 126220.596662401 per unit increase in bedrooms
=====================================

=====================================

=====================================

=====================================

Price vs bathrooms

Coeficient is 250995.4343935222
The R^2 value is: 0.2504947684323794
The RMSE value is: 334102.33483877813
We can infer that price increases by 250995.4343935222 per unit increase in bathrooms
=====================================

=====================================

=====================================

=====================================

Price vs floors

Coeficient is 179992.79319052614
The R^2 value is: 0.046817614920313555
The RMSE value is: 376773.3532398646
We can infer that price increases by 179992.79319052614 per unit increase in floors
=====================================

=====================================